$logoWidth: 365px;
$searchbarColor: rgb(220, 220, 220);
$darkestgray: rgb(84, 84, 84);

body {
    text-align: center;
    font-family: Arial;

    .navigationBar {
        position: absolute;
        top: 15px;
        right: 15px;

        .navigationButton {
            color: $darkestgray;
            margin: 10px;
            font-size: small;

            &:link, &:visited {
                text-decoration: none;
            }

            &:hover {
                text-decoration: underline;
            }
        }
    }

    .centerpiece {
        position: absolute;
        top: 37%;
        left: 50%;
        -moz-transform: translateX(-50%) translateY(-50%);
        -webkit-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);

        .logo {
            width: $logoWidth;
        }

        .searchForm {

            .searchBar {
                width: 1.5 * $logoWidth;
                height: 40px;
                border-radius: 40px;
                margin: 0px;
                border: 1px solid lightgray;

                &:hover {
                    box-shadow: 0px 2px 5px 2px rgba(100, 100, 100, 0.2) ;
                }

                .searchIcon {
                    opacity: 0.4;
                    width: 25px;
                    float: left;
                    padding-top: 8px;
                    padding-left: 20px;
                }

                .searchCursor {
                    border:none;
                    outline: none;
                    font-size: large;
                    float: left;
                    padding-top: 8px;
                    padding-left: 10px;
                    width: 1.2 * $logoWidth;
                }
            }

            .searchButton {
                width: 0.4 * $logoWidth;
                height: 45px;
                border: none;
                background-color: rgb(248, 249, 250);
                font-size: medium;
                color: $darkestgray;
                margin-top: 15px;
                margin-right: 15px;
                border-radius: 5px;

                &:hover {
                    box-shadow: 0px 2px 2px 1px rgba(128, 128, 128, 0.4);
                }
            }
        }
    }
}